<!DOCTYPE html> 
<html xmlns:th="www.thymeleaf.org"> 
<head> 
    <title> Movie Rating Form</title>
</head>
<body> 
    <h2> Movie Ratings</h2>
    <form action="#" th:action="@{/movies/new}" th:object="${movieRating}" method="POST">
        Title: <input type='text' th:field="*{title}" />
            <span th:if="${#fields.hasErrors('title')}" th:errors="*{title}">
                </span> <br />       
        <p> Rating (1-5) </p>
		<input type="radio" id="rating1" name="rating" value="1" th:field="*{rating}">
		  <label for="rating1">1</label><br>
		<input type="radio" id="rating2" name="rating" value="2" th:field="*{rating}">
		  <label for="rating2">2</label><br>  
		<input type="radio" id="rating3" name="rating" value="3" th:field="*{rating}">
		  <label for="rating3">3</label><br>
		<input type="radio" id="rating4" name="rating" value="4" th:field="*{rating}">
          <label for="rating4">4</label><br>
        <input type="radio" id="rating5" name="rating" value="5" th:field="*{rating}">
          <label for="rating5">5</label><br>
          <span th:if="${#fields.hasErrors('rating')}" th:errors="*{rating}">
          </span> <br />
        Reviewer Name: <input type='text' th:field="*{personName}" />
            <span th:if="${#fields.hasErrors('personName')}" th:errors="*{personName}">
                </span> <br />
       
        <input type="submit" value="Submit" />
    </form>
</body>
</html>